*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
    font-family: 'Montserrat', sans-serif;
}
.contenedor-fluid{
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    background-color: #338c00;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
    color: black;
    height: 1000px;
}
.Oscuro{
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
    background-color: rgb(51,140,0);
    color: whitesmoke;
}
/*Header*/
.header{
    grid-area: header;
    list-style: none;
    padding-left: 20px;
}
.container-fluid{
    display: flex;
    justify-content:space-around;
    padding: 40px;
    padding-top: 60px;
}
.navbar{
    padding-left: 20px;
}
.nav{
    font-size: 50px;
}
.navb{
    font-size: 20px;
}

/*M pag2*/
.main2{
    grid-area: main;
}
.label{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.formFacturas{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form2{
    display: flex;
    padding-top: 15px;
    gap: 2rem;
    padding-bottom: 15px;
    align-items:flex-start;
}
.input{
    display: flex;
    width: 10rem;
    border-color: transparent;
    border-style: none;
    border-radius: 10px;
    padding: 5px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.boton1{
    background-color: transparent #f1f1f1;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
}
#body .tabla2{
    justify-content: center;
    align-items: center;
}
#foot{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/*Footer*/
.footer{
    grid-area: footer;
    padding-top: 300px;
}
.foot{
    display: flex;
    justify-content: center;
}